@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* =====================
       BACKGROUNDS
    ===================== */
    --background: 6 7 11;
    --background-secondary: 16 17 20;
    --background-tertiary: 24 24 26;

    /* =====================
       BORDERS / STROKES
    ===================== */
    --border: 31 31 35;
    --primary-stroke: 34 36 45;
    --secondary-stroke: 50 53 66;

    /* =====================
       TEXT
    ===================== */
    --foreground: 252 252 252;
    --text-secondary: 200 201 209;
    --text-tertiary: 119 122 140;

    /* =====================
       PRIMARY / BRAND
    ===================== */
    --signal-blue: 82 111 255;
    --signal-blue-hover: 102 131 255;

    /* =====================
       TRADING SIGNALS
    ===================== */
    --signal-green: 47 227 172;
    --signal-green-hover: 91 231 189;

    --signal-red: 236 57 122;
    --signal-red-hover: 248 100 154;

    --signal-yellow: 220 193 60;
    --signal-orange: 226 124 77;

    /* =====================
       CHART COLORS
    ===================== */
    --chart-up: 11 153 129;
    --chart-down: 242 53 70;
  }

  body {
    @apply bg-background text-foreground;
  }
}
